.body{
background-color: brown;
height: auto;
}

.bodyy{
    background-color: brown;
    height: auto;
    
    }

.form{
    background-color: rgb(55, 46, 46);
    width: 100%;
    margin: 0px;
    padding: 2px;
    height:100%; 
    box-shadow:15px 15px 40px 30px #384640

}


.form-body{
    text-align: left;
    padding: 5px 50px;
}

.form-body > *{
    padding: 5px;
}

.form_input{
    width: 100%;
}

.header-btn{
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
    align-items: right;
    font-size: 1rem;
    font-family:'Lato';
    background-color: #bf2222;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    border-radius: 50px;
	color:#ffffff;
}

.header-btnn{
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: right;
    font-size: 1rem;
    margin-top: 5px;
    font-family:'Lato';
    background-color: #116b45;
    box-shadow: 5px 10px 30px rgba(174, 175, 216, 0.336);
    border-radius: 50px;
	color:#ffffff;

}

.formm{
    background-color: green;
    border-radius: 5px;
    width: 350px;
    margin: 10px;
    padding: 5px;
    height:auto; 
    border-radius: 10%;
}
.form-in{
    text-decoration:dashed;
    background-color: brown;
    text-align: center;
    border-radius: 2px;
    width: 250px;
    border-radius: 60%;
    height:auto; 
    padding:5px;
}


.line{
    display: flexbox;
    list-style-type:lower-greek;
}
.c{
    border-radius: 500px;
    width: auto;
    margin: 100px;
    padding: 5px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;

}